:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}



.balance-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: var(--soft-red);
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-bottom: 20px;
}

.balance-container img {
  width: 4.75rem;
}

.balance-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.balance-details h2 {
  color: var(--very-pale-orange);
  font-size: .75rem;
  font-weight: 400;
}

.balance-details h1 {
  color: var(--very-pale-orange);
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 4px;
}

.chart-container {
  background-color: var(--very-pale-orange);
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-bottom: 20px;
}

.chart-container h2 {
  color: var(--dark-brown);
  font-size: 1.25rem;
} 

.chart-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.chart-item {
  height: 7rem;
  width: 40px;
  background-color: var(--soft-red);
  border-radius: .25rem;
  margin-top: 1rem;
}
.chart-item:hover {
  cursor: pointer;
  background-color: var(--cyan);
  position: relative;
}

.chart-item:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  padding: .5rem;
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-day {
  color: var(--medium-brown);
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 1rem;
}

.total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--very-pale-orange);
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  padding-bottom: 40px 0 40px 0;
}

.total-container h2 {
  color: var(--dark-brown);
  font-size: 1rem;
}

.total-container h1 {
  color: var(--very-pale-orange);
  font-size: 1rem;
}

.total-container h3 {
  color: var(--cyan);
  font-size: 1rem;
}

.total-container h4 {
  color: var(--cyan);
  font-size: 1rem;
}

footer {
  margin-top: 4rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-brown);
  color: var(--very-pale-orange);
  font-size: 0.5rem;
  padding: 1rem;
  text-align: center;
}
