:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  
  --accent-blue: hsl(248, 32%, 49%);
  
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-blue: hsl(246, 25%, 77%);
  
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size);
  background-color: var(--primary-red);
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.input-container {

}