:root {
  /* Colors */

  /* Primary */
  --blue: hsl(223, 87%, 63%);

  /* Secondary */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  /* Neutral */
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);

  /* Typography */

  /* Body Copy */
  --font-size: 20px;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: var(--font-size);;
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}






footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }