:root {
  /* Primary */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(186, 15%, 59%);
  --gray-900: hsl(187, 24%, 22%);
}

*, *::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
