* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

span {
  color: purple;
}

img{
  color: purple;
  filter: opacity(1);
}

table {
  padding-top: 10px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
}

table td {
  padding: 1px;
  color: #8c8c8c;
  border: 1px solid var(--secondary-color);
  padding-bottom: 30px;
  font-weight: lighter;
  font-size: 13px;
}

table tr:nth-child(even) {
  background-color: var(--secondary-color);
}

table tr:nth-child(odd) {
  background-color: var(--another-color);
}