:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 0.9375rem;
  background-image: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-attachment: local;
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 4rem 8rem;
}



.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.heading {

}





.revs {
  grid-column: span 2;
}

.revs2 {
  display: flex;
}

.buyer {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 200px;
  background-color: var(--very-dark-magenta);
  color: var(--white);
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.buyer-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}


















footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
