/* Variables */
:root {
  --purple: hsl(259, 100%, 65%); /* Primary color for the website */
  --light-red: hsl(0, 100%, 67%); /* Secondary color for the website */

  --white: hsl(0, 0%, 100%); /* White color */
  --off-white: hsl(0, 0%, 94%); /* Off-white color */
  --light-grey: hsl(0, 0%, 86%); /* Light grey color */
  --smokey-grey: hsl(0, 1%, 44%); /* Smokey grey color */
  --off-black: hsl(0, 0%, 8%); /* Off-black color */

  --body-copy-font-size: 32px; /* Font size for the body copy */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--body-copy-font-size);
  color: var(--off-black);
  background-color: var(--light-grey);
}

article {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  background-color: var(--off-white);
  padding: 10px;
  border-radius: 10px;
  min-width: 75%;
  min-height: 45%;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  scrollbar-width: none;
}

.btn  {
  cursor: pointer;
  position: absolute;
  right: 15%;
  top: 33%;
  margin: 10px;
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 14px;
}

.btn:hover {
  background-color: var(--off-black);
  transition: 0ms ease-out;
}

.bttn {
  cursor: pointer;
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

hr {
  border: 1px solid var(--light-grey);
  margin-bottom: 50px;
}

.result {
  display: grid;
  place-items: center;
  gap: 10px;
}


.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
}
