:root {

  /* Colors */
  --tomato: #FF6347;
  --dark-slate-grey: #27323A;
  --charcoal-grey: #3F4952;
  --grey: #D8D8D8;
  --white: #FFFFFF;

  /* Font */
  --font-size-paragraph: 14px;
  --font-family: 'Roboto';
  --font-weight: 400, 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: var(--font-family);
  background-color: var(--dark-slate-grey);
  display: grid;
  place-content: center;
  min-height: 100vh;
  line-height: 1.5;
}

/* Container */
.container {
  display: grid;
  place-items: center;
  background-color: #fff;
  padding-left: 7%;
  max-width: 50vw;
  max-height: 80vh;
  min-height: 40vh;
  border-radius: 25px;
}

.layout {
  display: grid;
  place-content: center;
  padding: 40px 90px 40px 10px;
  line-height: 1.5;
  width: 60%;
}

.form-container {
  display: flex;
}

/* LAYOUT */
p, h1,li {
  margin-bottom: 10px;
}

.header {
  color: var(--charcoal-grey);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin-bottom: 10px;
}

.firstp {
  margin-bottom: 20px;
}

p,li {
  font-size: var(--font-size-paragraph);
}

/* EMAIL */

.names {
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 2px;
}

.email {
  display: flex;
  flex-direction: column;
}

.email label {
  font-weight: bold;
  padding: 10px;
  font-size: 2px;
}

.email input[type="email"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid var(--grey);
}

/* LIST */
.list {  
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* BUTTON */
button {
  background-color: var(--charcoal-grey);
  color: var(--white);
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: var(--font-weight);
}

button:hover {
  background-color: var(--dark-slate-grey);
  cursor: pointer;
}


/* IMAGES */
.desktop {
  width: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 12px;
}

.pic {
  padding-right: 15px;
}

/* SUCCESS MESSAGE */

.success-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--grey);
  font-size: 12px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
