:root {

  /* Colors */
  --tomato: #FF6347;
  --dark-slate-grey: #27323A;
  --charcoal-grey: #3F4952;
  --grey: #D8D8D8;
  --white: #FFFFFF;

  /* Font */
  --font-size-paragraph: 16px;
  --font-family: 'Roboto';
  --font-weight: 400, 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--dark-slate-grey);
  display: grid;
  place-content: center;
  min-height: 100vh;
  line-height: 1.5;
}

.container {
  position: absolute;
  background-color: #fff;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}
.layout {
  display: grid;
  place-content: center;
  min-height: 100vh;
  line-height: 1.5;
}

.form-container {
  display: flex;
}

p, h1,li {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin-bottom: 10px;
}

/* EMAIL */

.email {
  display: flex;
  flex-direction: column;
}

.email p {
  margin-bottom: 10px;
}

.email label {
  font-weight: bold;
}

.email input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* BUTTON */
button {
  background-color: var(--charcoal-grey);
  color: var(--white);
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}


.desktop {
  width: 80%;
  margin-left: 20px;
}

/* SUCCESS MESSAGE */

.success-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
